@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовые вспомогательные стили */
html, body { @apply p-0 m-0 font-sans bg-gray-50 text-gray-900; }
*, *::before, *::after { box-sizing: border-box; }
