@tailwind base;
@tailwind components;
@tailwind utilities;

/* Импорт шрифта Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Базовые вспомогательные стили */
html, body { @apply p-0 m-0 font-sans bg-gray-100 text-gray-900; }
*, *::before, *::after { box-sizing: border-box; }
